
@{
    ViewBag.Title = "Multi";
}

<h2>批量录入</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <textarea name="List" rows="40" cols="50">公司 员工号 姓名 项目</textarea>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
        @ViewBag.Count
        <div class="form-group">

            <table class="table">
                <tr>
                    
                    <th>公司</th>
                    <th>员工号</th>
                    <th>姓名</th>
                    <th>项目</th>
                </tr>
                @if (ViewBag.Content != null)
                {
                    foreach (string item in ViewBag.Content)
                    {
                        if (!string.IsNullOrEmpty(item))
                        {
                            <tr>

                                <td>
                                    @item.Split('\t')[0]
                                </td>
                                <td>
                                    @item.Split('\t')[1]
                                </td>
                                <td>
                                    @item.Split('\t')[2]
                                </td>
                                <td>
                                    @item.Split('\t')[3]
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>

}

<div>
    @Html.ActionLink("返回", "Index")
</div>


